<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Dev Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" inputmode="email" formControlName="email" placeholder="yourmum@gmail.com"></ion-input>
        <ion-note slot="error"
          *ngIf="(email.dirty || email.touched) && email.errors">Insert your email here</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" inputmode="text" formControlName="password" placeholder="your password"></ion-input>
        <ion-note slot="error"
          *ngIf="(password.dirty || password.touched) && password.errors">Insert password here</ion-note>
      </ion-item>

      <ion-button type="submit" expand="block" strong="true" [disabled]="credentials.invalid">
          Sign in
      </ion-button>

      <div class="ion-margin-top">
        <ion-button
          type="button"
          expand="block"
          color="primary"
          fill="outline"
          routerLink="register"
        >
          <ion-icon name="person-outline" slot="start"></ion-icon>
          Create Account
        </ion-button>

        <ion-button type="button" expand="block" color="secondary" (click)="forgotPw()">
          <ion-icon name="key-outline" slot="start"></ion-icon>
          Forgot password?
        </ion-button>

        <ion-button type="button" expand="block" color="tertiary" (click)="getMagicLink()"> 
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          Get a Magic Link
        </ion-button>
        <ion-button type="button" expand="block" color="warning" routerLink="groups">
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          Start without account
        </ion-button>
      </div>
      
    </form>
  </ion-card-content>
  </ion-card>
</ion-content>
